.paginacion-container {
    height: 5vh;
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;
    padding: .3rem;
}

.input {
    width: 6rem;
}

.btns {
    width: 8rem;
    margin: 0 1rem;
    border-radius: 20px;
    background-color: gray;
    border: none;
    transition: all .3s ease;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
}

.btns:hover {
    background-color: rgb(88, 86, 86);
}

.text-max {
    margin: 0 1rem;
}

@media only screen and (max-width:760px) {
    .btns {
        font-size: .9rem;
    }
}

@media only screen and (max-width:620px) {
    .btns {
        font-size: .7rem;
    }

    .input {
        width: 3rem;
    }

    .text-max {
        font-size: .7rem;
    }
}

@media only screen and (max-width:492px) {
    .input {
        width: 2rem;
        font-size: .8rem;
    }

    .text-max {
        font-size: .6rem;
    }
}