.go-graph {
    padding-top: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-graph {
    margin: 0 1rem;
    padding: 0 1rem;
    border-radius: 20px;
    background-color: gray;
    border: none;
    transition: all .3s ease;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
}

.btn-graph:hover {
    background-color: rgb(88, 86, 86);
}

@media only screen and (max-width:820px) {
    .go-graph {
       margin: 1rem 0;
    }

    .btn-graph {
        font-size: .9rem;
    }
}

@media only screen and (max-width:760px) {
    .go-graph h4 {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width:620px) {
    .go-graph h4 {
        font-size: .8rem;
    }

    .btn-graph {
        font-size: .7rem;
    }
}

@media only screen and (max-width:492px) {
    .go-graph h4 {
        font-size: .7rem;
    }
}